$padding: 8px;

%clickable {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

:local {
  .colon {
    margin-right: $padding;
  }
  .number {
    color: #357b42;
  }
  .string {
    color: #00ac8f;
  }
  .null {
    color: #357b42;
  }
  .boolean {
    color: #357b42;
  }
  .value {
    margin-right: 2 * $padding;
  }

  .child {
    margin-left: 24px;

    &.hidden {
      display: none;
    }
  }

  .expandToggle {
    box-sizing: content-box;
    display: inline-block;
    margin: 0 4px 0 -14px;
    padding: 0;
    width: 10px;
    cursor: pointer;
    color: #236ebf;
  }

  .bracket {
    color: #207bb8;
  }

  .nodeType {
    color: #2f86d2;
    margin-right: $padding;
    @extend %clickable;
  }

  .key {
    color: #7b30d0;
    line-height: 1.3;

    &.expandableKey {
      @extend %clickable;
    }
  }

  .preview {
    color: #a5a5a5;
    margin: 0 $padding;
    font-style: italic;
    white-space: nowrap;
    @extend %clickable;
  }

  .options {
    position: sticky;
    top: 0;
    background: rgba(#eaeaea, 0.8);
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 8px;
  }

  .footer {
    position: sticky;
    bottom: 0;
    background: rgba(white, 0.8);
    padding: 8px 0 18px;
    overflow: scroll;

    &Item {
      padding: 0 8px;
      cursor: pointer;
      white-space: nowrap;

      &:nth-child(n + 2)::before {
        content: '>';
        margin: 0 8px 0 -8px;
        color: rgba(black, 0.25);
      }

      &Path {
        color: #7b30d0;
        font-weight: 500;
      }
    }
  }

  .key,
  .bracket,
  .colon,
  .expandToggle,
  %clickable {
    user-select: none;
  }

  .highlighted {
    background: yellow;
  }

  .tooltipText.tooltipText {
    color: white;
  }

  .tree {
    &Container {
      padding: 4px;
      overflow: scroll;
      min-height: calc(100vh - 95px);
    }
  }
}
