$padding: 8px;

%clickable {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

:local {
  .colon {
    margin-right: $padding;
  }
  .number {
    color: #357b42;
  }
  .string {
    color: #00ac8f;
  }
  .null {
    color: #357b42;
  }
  .boolean {
    color: #357b42;
  }
  .value {
    margin-right: 2 * $padding;
  }

  .child {
    margin-left: 24px;

    &.hidden {
      display: none;
    }
  }

  .expandToggle {
    box-sizing: content-box;
    display: inline-block;
    margin: 0 4px 0 -14px;
    padding: 0;
    width: 10px;
    cursor: pointer;
    color: #236ebf;
  }

  .bracket {
    color: #207bb8;
  }

  .nodeType {
    color: #2f86d2;
    margin-right: $padding;
    @extend %clickable;
  }

  .key {
    color: #7b30d0;
    line-height: 1.3;

    &.expandableKey {
      @extend %clickable;
    }
  }

  .preview {
    color: #a5a5a5;
    margin: 0 $padding;
    font-style: italic;
    white-space: nowrap;
    @extend %clickable;
  }

  .options {
    background: rgba(white, 0.8);
    position: sticky;
    top: 0;
  }

  .key,
  .bracket,
  .colon,
  .expandToggle,
  %clickable {
    user-select: none;
  }

  .highlighted {
    background: yellow;
  }
}
