:local {
  .App {
    display: flex;
    height: 100vh;
  }
  .code {
    &Toolbar {
      flex: 0;
    }
    &Container {
      flex: 1;
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
    }
  }
  .ast {
    &Container {
      flex: 1;
      flex-basis: 50%;
      overflow: scroll;
    }
  }
}
:global {
  .highlight-marker {
    position: absolute;
    background: yellow;
  }
}
